<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>this is detail view</h1>
    <br />

    <h2>defalut context name is stud</h2>
    ---------------------
    <br />

    {{student.id}} {{student.name}} {{student.roll}} {{student.course}}

    <h2>custom context name is stud</h2>
    --------------------------------
    <br />
    {{stu.id}} {{stu.name}} {{stu.roll}} {{stu.course}}

    <hr />
    <hr />
    {% for data in all_data %} 
    
    <td>
      <a href="{% url 'studentdetailview' data.id %}">
        
        {{data.name}} <br> 
      </a>
    </td>
    {% endfor %}
  </body>
</html>
